.root {
  padding: 12px var(--mantine-spacing-sm);
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: ease;
  transition-duration: 200ms;
  border-radius: 0.5rem;
}

.label {
  font-size: var(--mantine-font-size-md);
}
