@layer tailwind-base, mantine, tailwind-utilities;

@import '@mantine/core/styles.css' layer(mantine);
@import '@mantine/charts/styles.css' layer(mantine);
@import '@mantine/dropzone/styles.css' layer(mantine);

@layer tailwind-base {
  @tailwind base;
}

@layer mantine {
  .mscrollbar {
    ::-webkit-scrollbar {
      width: 6px;
    }

    ::-webkit-scrollbar-thumb {
      background: #6b728088;
      border-radius: 9999px;
    }

    ::-webkit-scrollbar-thumb:hover {
      background: #6b7280aa;
    }
  }
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

@layer utilities {
  .text-outline-black {
    -webkit-text-stroke: 0.8px #333;
  }

  .text-outline-white {
    -webkit-text-stroke: 0.8px #ccc;
  }

  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    /* IE and Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
  }
}